<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Meal Picker</title>
    <link>
  </head>
  <body>
    <h1 class="title">Meal Picker</h1>
    <%# separator %>
    <div class="form_container">
      <h2 class="subTitle">Choose Your Meal Category</h2>
      <form id="meal_category_form" class="form" action="/" method="post">
        <div class="options">
          <input type="radio" id="chicken" name="category" value="chicken" required>
          <label for="chicken">Chicken</label>
          <%# separator %>
          <input type="radio" id="fish" name="category" value="fish">
          <label for="fish">Fish</label>
          <%# separator %>
          <input type="radio" id="meat" name="category" value="meat">
          <label for="meat">Meat</label>
          <%# separator %>
          <input type="radio" id="veg" name="category" value="veg">
          <label for="veg">Veg</label>
        </div>
        <%# end of options %>
        <input class="button" type="submit" value="Get Meal Suggestion!">
      </form>
    </div>
    <%# end of form container%>
    <div id="msg_container" class="container">
      <p><%= @msg %></p>
    </div>
  </body>
</html>
