* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 20px;
}

.title {
  text-align: center;
  margin: 4rem 0;
  font-size: 50px;
  letter-spacing: 2px;
}

.subTitle {
  text-align: center;
  margin: 1rem 0;
  font-size: 30px;
  letter-spacing: 2px;
}

.form {
  background-color: rgb(151, 151, 151);
  padding: 1rem;
  margin: 0 20%;
  min-width: min-content;
}

.button {
  margin: 1rem auto;
  display: flex;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.container {
  margin: 2rem;
  text-align: center;
}

/* homepage form specific styles */

.options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

input[type="radio"] {
  visibility:hidden;
  display: none;
}

label {
  margin: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  background-color: rgb(0, 238, 255);
  text-align: center;
  width: 150px;
}

label:hover {
  background-color: rgb(0, 174, 255);
}

input:checked + label {
  background: rgb(0, 174, 255);
}

